.header {
  text-align: center;
}


.container {
  max-width: 608px;
  margin: 24px auto;
  border: 2px solid #bbb;
}


.mole {
  height: 128px;
  width: 128px;
  display: inline-block;
  box-sizing: border-box;
  margin: 12px;
  border: 2px dashed #777;
  background-color: lightyellow;
}

.active {
  background-color: red;
}