.mole-hole {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 150px;
  display: inline-block;
}

.mole-image {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
}