.mole-hole {
  width: 100px;
  height: 100px;
  border: 44px solid brown;
  border-radius: 100%;
  display: inline-block;
  background-color: black;
}

#active-mole {
  background-color: green;
}

h1 {
  text-align: center;
}